@import "calendar.css";
@import "todo.css";

body {
    margin: 0;
    padding: 0;
    background-color: #363c4f;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}


.content-wrapper {
    display: flex;
}

.content-left {
    color: #abafbe;
    background-color: white;
    margin: 30px;
    width: 60%;
    height: 0;
    padding-bottom: 45%;
    border-radius: 8px;
}

.content-right {
    width: 40%;
    margin: 30px;
}

.main-wrap {
    display: flex;
    justify-content: space-between;
}

.main-wrap h1,
h2 {
    margin: 30px;
}

.main-wrap h1 {
    letter-spacing: 4px;
}

.main-day {
    /* float: left; */
    left: 0;
}

.main-date {
    text-align: center;
    opacity: .5;
    font-style: italic;
}




@media (prefers-color-scheme: white) {
    body {
        background-color: #fff;
        color: #363c4f;
    }
}